body {
  padding-top: 10px;
}

.previewer {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #888888;
  margin-top: 20px;
}


.remove-wrapper {
  display: inline-block;
  width: 85%;
}

.remove-wrapper:hover .remove-tree {
  display: inline-block !important;
}

.remove-tree {
  font-size: 10px;
  position: relative;
  right: -20px;
  display: none !important;
}

.show-grid{margin-bottom:15px}.show-grid [class^=col-]{padding-top:10px;padding-bottom:10px;background-color:#eee;background-color:rgba(86,61,124,.15);border:1px solid #ddd;border:1px solid rgba(86,61,124,.2)}

.placeholder {
  width: 100px;
  background-color: rgba(46, 204, 113, 0.5);
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  color: white;
}
.draggable {
  cursor: move;
}

.tree-text {
  font-style: italic;
}

.large-col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.list-group-item {
  padding: 5px 5px !important;
}

.list-group {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.over {
  border: 2px dashed #000 !important;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}